.events-content {
  margin: 64px 0;
}

.caption-main-banner-events {
  height: 320px;
  position: relative;
  z-index: 1;
  background-position: 50% 20%;
  margin-right: -800px;
  filter: saturate(1.5);
  overflow: hidden;
  transition: 400ms;
  transition: opacity 0.5s ease-in-out;
}

.caption-main-banner-events-a {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-a.jpg");
  background-size: cover;
  margin-right: -160px;
  filter: saturate(1.25);
  transition: opacity 0.5s ease-in-out;
}

.caption-main-banner-events-b {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-b.webp");
  background-size: cover;
  background-position: center 40%;
  margin-right: -200px;
  filter: saturate(1.5);
  transition: opacity 0.5s ease-in-out;
}

.caption-main-banner-events-c {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-c.webp");
  background-size: cover;
  background-position: 50% 20%;
  margin-right: -800px;
  filter: saturate(1.5);
}

.caption-main-banner-events-d {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-d.webp");
  background-size: cover;
  background-position: center 54%;
  margin-right: -300px;
  filter: saturate(1.5);
}

.caption-main-banner-events-e {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-e.jpg");
  background-size: cover;
  background-position: center 30%;
  margin-right: -900px;
  filter: saturate(1.5);
}

.caption-main-banner-events-f {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-f.jpg");
  background-size: cover;
  background-position: center 30%;
  margin-right: -900px;
  filter: saturate(1.5);
}

.banner-events-icon {
  background-image: url("../../../../../../../public/assets/gameSpecific/genshinImpact/material/others/Icon_Events.webp");
}

.banner-events-tag {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding: 8px 12px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
}

.banner-events-tag:not(:last-child) {
  margin-right: 8px;
}

.event-shadow-right {
  background: linear-gradient(-90deg,
      hsla(0, 0%, 9%, 1.00) 0%,
      hsla(0, 0%, 9%, .95) 5%,
      hsla(0, 0%, 9%, .90) 10%,
      hsla(0, 0%, 9%, .85) 15%,
      hsla(0, 0%, 9%, .80) 20%,
      hsla(0, 0%, 9%, .75) 25%,
      hsla(0, 0%, 9%, .70) 30%,
      hsla(0, 0%, 9%, .65) 35%,
      hsla(0, 0%, 9%, .60) 40%,
      hsla(0, 0%, 9%, .55) 45%,
      hsla(0, 0%, 9%, .50) 50%,
      hsla(0, 0%, 9%, .45) 55%,
      hsla(0, 0%, 9%, .40) 60%,
      hsla(0, 0%, 9%, .35) 65%,
      hsla(0, 0%, 9%, .30) 70%,
      hsla(0, 0%, 9%, .25) 75%,
      hsla(0, 0%, 9%, .20) 80%,
      hsla(0, 0%, 9%, .15) 85%,
      hsla(0, 0%, 9%, .10) 90%,
      hsla(0, 0%, 9%, .05) 95%,
      hsla(0, 0%, 9%, 0));
  position: absolute;
  height: 400px;
  width: 510px;
  z-index: 999;
}

.event-row {
  display: flex;
}

.event-minor {
  display: flex;
}

.event-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding: 16px 0;
  /*mask-image: linear-gradient(to right, black 10%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 10%, transparent 100%);*/
}

.event-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.event-scroll::-webkit-scrollbar-thumb {
  background-color: var(--mygray) !important;
  border-radius: 24px;
}

.event-scroll:-webkit-scrollbar-track {
  background-color: var(--mygray) !important;
  border-radius: 0 !important;
}

.main-simple-frame {
  min-width: 360px !important;
  min-height: 424px;
  padding-top: 16px;
}

.main-simple-frame :is(.frame-header, .frame-event-shadow) {
  height: 272px;
}

.simple-frame {
  position: relative;
  border-radius: 16px;
  min-width: 280px;
  transition: 400ms;
}

.simple-frame .flag {
  margin-right: 8px !important;
  margin-top: -8px !important;
}

.simple-frame:not(:last-child) {
  margin-right: 16px;
}

.simple-frame:hover {
  cursor: pointer;
  transition: 400ms;
}

.simple-frame:hover :is(.event-color-right, .event-color-left, .frame-top) {
  background-color: var(--mygray);
  transition: 400ms;
}

.simple-frame:hover :is(.main-link-outline) {
  background-color: transparent !important;
  color: var(--myindigo) !important;
  transition: 400ms !important;
}

.simple-frame:hover .event-intro {
  color: var(--mygray);
  transition: 400ms;
}

.frame-header {
  height: 248px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
}

.frame-description-area {
  padding-right: 24px;
}

.simple-frame-area {
  display: flex;
  padding: 16px;
  min-height: 96px;
}

.header-event-a {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-a.jpg');
  filter: saturate(1.5);
}

.header-event-b {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-b.webp');
  filter: saturate(1.5);
}

.header-event-c {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-c.webp');
  filter: saturate(1.5);
}

.header-event-d {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-d.webp');
  filter: saturate(1.5);
}

.header-event-e {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-e.jpg');
  filter: saturate(1.5);
}

.header-event-f {
  background-image: url('../../../../../../../public/assets/gameSpecific/genshinImpact/backgrounds/events/event-f.jpg');
  filter: saturate(1.5);
}

.frame-event-shadow {
  background: linear-gradient(0deg, #181818 0, hsla(0, 0%, 9%, .987) 5%,
      hsla(0, 0%, 9%, .951) 10%, hsla(0, 0%, 9%, .896) 15%, hsla(0, 0%, 9%, .825) 20%,
      hsla(0, 0%, 9%, .741) 25%, hsla(0, 0%, 9%, .648) 30%, hsla(0, 0%, 9%, .55) 35%,
      hsla(0, 0%, 9%, .45) 40%, hsla(0, 0%, 9%, .352) 45%, hsla(0, 0%, 9%, .259) 50%,
      hsla(0, 0%, 9%, .175) 55%, hsla(0, 0%, 9%, .104) 60%, hsla(0, 0%, 9%, .049) 65%,
      hsla(0, 0%, 9%, .013) 70%, hsla(0, 0%, 9%, 0) 75%);
  height: 240px;
  width: 100%;
  z-index: 99;
  display: flex;
  place-items: flex-end;
}

.frame-event-tag {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding: 8px 8px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
}

.frame-event-tag:not(:last-child) {
  margin-bottom: 4px !important;
}

.event-title {
  font-family: 'ClashDisplay-Variable';
  margin-bottom: 4px !important;
  font-size: 20px !important;
  font-weight: 600;
  color: var(--mygray);
}

.event-intro {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-weight: lighter;
  margin: 0 !important;
  color: var(--mygray-50);
  overflow: hidden;
  transition: 400ms;
}

.event-color {
  display: flex;
  align-items: center;
}

.main-simple-frame :is(.event-color-left, .event-color-right) {
  width: 72px !important;
}

.simple-frame:hover {
  margin-top: -8px;
}

.event-color-left {
  width: 48px;
  height: 16px;
  justify-content: center;
  display: flex;
  background-color: #474747;
  border-radius: 0 16px;
  margin-right: auto;
  transition: 400ms;
}

.event-color-right {
  width: 48px;
  height: 16px;
  justify-content: center;
  display: flex;
  background-color: #474747;
  border-radius: 16px 0;
  margin-left: auto;
  transition: 400ms;
}

.frame-top {
  background-color: #474747;
  display: flex;
  margin-top: -8px;
  width: 108px;
  height: 4px;
  margin: -8px auto 4px auto;
  border-radius: 0 0 24px 24px;
  transition: 400ms;
}

.frame-event-tag-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.flag-event {
  background-color: var(--mypink);
  color: var(--mywhite);
}

.frame-description-area .main-link {
  justify-content: left;
  padding: 0 !important;
  color: var(--myindigo-60) !important;
}