@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.syne {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}